## Iterating Over Range Objects

In [1]:
# Sequences : Tuples and lists

In [2]:
t= (4,5,6,7)

In [3]:
l = [10.5,20.75,30.00]

In [4]:
l

[10.5, 20.75, 30.0]

In [5]:
s = 'abcde'

In [6]:
s

'abcde'

In [7]:
for i in t:
    print(i,end = " ")

4 5 6 7

In [8]:
range(5)

range(0, 5)

In [9]:
for i in range(5):
    print(i,end = " ")

0 1 2 3 4

## Nested for loops - An Intro

In [10]:
for i in range(2):
    print(i)

0
1

In [11]:
for j in range(5):
    print(j)

0
1
2
3
4

In [12]:
# NESTED LOOP
for i in range(2):
    for j in range(5):
        print(j,end = " ")

0 1 2 3 4 0 1 2 3 4

In [13]:
for i in range(2):
    for j in range(5):
        print([i,j],end = " ")

[0, 0] [0, 1] [0, 2] [0, 3] [0, 4] [1, 0] [1, 1] [1, 2] [1, 3] [1, 4]

In [14]:
#For above code : 'i' loop is the outer loop and 'j' is the inner loop

In [15]:
for i in ['Product A','Product B']:
    for j in range(5):
        print([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [16]:
products = ['Product A', 'Product B']
exp_sales = [10000,11000,12000,13000,14000]

In [17]:
for i in products:
    for j in exp_sales:
        print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

## Triple Nested For Loops

In [18]:
products = ['Product A', 'Product B']
exp_sales = [10000,11000,12000,13000,14000]
time_horizon = (1,3,12)

In [19]:
for prod in products:
    for sales in exp_sales:
        for t_hor in time_horizon:
            print([prod,sales*t_hor], end = " ")

['Product A', 10000] ['Product A', 30000] ['Product A', 120000] ['Product A', 11000] ['Product A', 33000] ['Product A', 132000] ['Product A', 12000] ['Product A', 36000] ['Product A', 144000] ['Product A', 13000] ['Product A', 39000] ['Product A', 156000] ['Product A', 14000] ['Product A', 42000] ['Product A', 168000] ['Product B', 10000] ['Product B', 30000] ['Product B', 120000] ['Product B', 11000] ['Product B', 33000] ['Product B', 132000] ['Product B', 12000] ['Product B', 36000] ['Product B', 144000] ['Product B', 13000] ['Product B', 39000] ['Product B', 156000] ['Product B', 14000] ['Product B', 42000] ['Product B', 168000]

In [20]:
for prod in products:
    for sales in exp_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of {} month(s) for {} : ${sales}'.format(t_hor,prod,sales = sales*t_hor))

Expected sales for a period of 1 month(s) for Product A : $10000
Expected sales for a period of 3 month(s) for Product A : $30000
Expected sales for a period of 12 month(s) for Product A : $120000
Expected sales for a period of 1 month(s) for Product A : $11000
Expected sales for a period of 3 month(s) for Product A : $33000
Expected sales for a period of 12 month(s) for Product A : $132000
Expected sales for a period of 1 month(s) for Product A : $12000
Expected sales for a period of 3 month(s) for Product A : $36000
Expected sales for a period of 12 month(s) for Product A : $144000
Expected sales for a period of 1 month(s) for Product A : $13000
Expected sales for a period of 3 month(s) for Product A : $39000
Expected sales for a period of 12 month(s) for Product A : $156000
Expected sales for a period of 1 month(s) for Product A : $14000
Expected sales for a period of 3 month(s) for Product A : $42000
Expected sales for a period of 12 month(s) for Product A : $168000
Expected sales for a period of 1 month(s) for Product B : $10000
Expected sales for a period of 3 month(s) for Product B : $30000
Expected sales for a period of 12 month(s) for Product B : $120000
Expected sales for a period of 1 month(s) for Product B : $11000
Expected sales for a period of 3 month(s) for Product B : $33000
Expected sales for a period of 12 month(s) for Product B : $132000
Expected sales for a period of 1 month(s) for Product B : $12000
Expected sales for a period of 3 month(s) for Product B : $36000
Expected sales for a period of 12 month(s) for Product B : $144000
Expected sales for a period of 1 month(s) for Product B : $13000
Expected sales for a period of 3 month(s) for Product B : $39000
Expected sales for a period of 12 month(s) for Product B : $156000
Expected sales for a period of 1 month(s) for Product B : $14000
Expected sales for a period of 3 month(s) for Product B : $42000
Expected sales for a period of 12 month(s) for Product B : $168000

In [21]:
# NOTE : Writing nested loops is considered non-pythonic
# Using list comprehensions is considered pythonic

## List Comprehensions

In [22]:
#Benifits : 
# 1. Easy to understand
# 2. quick to write
# 3. Support the option for setting conditionals either on the output or on the iterable or both

In [23]:
# A very powerful tool
# a fantastic example of high quality of code
# reuqire more memory and run more slowly --> Drawback

In [24]:
numbers = [1,13,4,5,63,100]
numbers

[1, 13, 4, 5, 63, 100]

In [25]:
new_numbers = []

for n in numbers:
    new_numbers.append(n*2)
    
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [26]:
# Change the above loops to list comprehension
new_numbers = [n * 2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [27]:
for i in range(2):
    for j in range(5):
        print(i+j,end = " ")

0 1 2 3 4 1 2 3 4 5

In [28]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [29]:
type(new_list_comprehension_1)

list

In [30]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [31]:
new_list_comprehension_2 = [[i+j for i in range (2)] for j in range(5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [32]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
[num ** 3 for num in range(1,11) if num%2 !=0]

[1, 27, 125, 343, 729]

In [34]:
for i in range(1,11):
    if i%2 != 0:
        print(i**3,end = " ")

1 27 125 343 729

In [35]:
[num **3 if num %2 !=0 for num in range(1,11)]

SyntaxError: invalid syntax (2109765165.py, line 1)

In [36]:
# Note : The above error came because we must need to provide clear indication to python about what exactly
# we want to be displayed in each potential outcome.

In [37]:
[num **3 if num %2 !=0 else "Even" for num in range(1,11)]

[1, 'Even', 27, 'Even', 125, 'Even', 343, 'Even', 729, 'Even']

## Lambda Function(Expressions) in python

In [38]:
# Features : 
# 1. Can have one or multiple parameters but contain a single expression
# 2. Allow you to write just one line of code to incude a simple functionality in a more complex expression
# 3. Can only be applied to the larger expression they have been written in

In [39]:
def raise_to_the_power_of_2(x):
    return x ** 2

In [40]:
raise_to_the_power_of_2(3)

9

In [41]:
lambda x : x**2

In [42]:
raise_to_the_power_of_2_lambda = lambda x : x**2

In [43]:
raise_to_the_power_of_2_lambda(3)

9

In [44]:
(lambda x : x/2) (11)

5.5

In [45]:
(lambda x : (2 + 5 * x ** 4) ** 2/(x + 3) ** 3) (2)

53.792

In [46]:
sum_xy = lambda x,y : x+y
sum_xy(2,3)

5

In [47]:
sum_xy = lambda x,y : x+y(x)

In [48]:
sum_xy(2,3)

TypeError: 'int' object is not callable

In [49]:
sum_xy(2)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [50]:
sum_xy (2 , lambda x : x * 5)

12