## An Introduction

In [1]:
#Pandas is an open source lib. providing high performance,
# easy to use data structure and data analysis tools for python programming language.

In [2]:
#Name origin - Panel data
#NOTE : Pandas required NumPy

In [3]:
# Data series objects(single column data) and Data frame objects(multiple column data) are handled by pandas easily

In [4]:
# A certain tool that is applicable for series will also be used on Dataframe and vice versa.

In [5]:
# Pandas is best for analysing datasets containing multiple types of information like :
# Numbers, Strings, Boolean data, Data and time values

## Installing and Running Pandas

In [6]:
# To install :
# pip install pandas
# To upgrade :
# pip install pandas --upgrade

In [7]:
import pandas as pd

In [8]:
pd.__version__

'1.4.4'

## Intro to Panda Series

In [9]:
# A Series object is a single column data or a set of values having same data type
# We can create a series object from a list

In [10]:
products = ['A','B','C','D']
products

['A', 'B', 'C', 'D']

In [11]:
type(products)

list

In [12]:
product_categories = pd.Series(products)

In [13]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [14]:
#NOTE : Default datatype assigned to data is NOT NUMERIC.

In [15]:
type(product_categories)

pandas.core.series.Series

In [16]:
type(pd.Series(products))

pandas.core.series.Series

In [17]:
daily_rates_dollars = pd.Series([40,45,50,60])

In [18]:
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [19]:
print(daily_rates_dollars)

0    40
1    45
2    50
3    60
dtype: int64

In [20]:
import numpy as np

In [21]:
array_a = np.array ([10,20,30,40,50])

In [22]:
array_a

array([10, 20, 30, 40, 50])

In [23]:
type(array_a)

numpy.ndarray

In [24]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [25]:
type(series_a)

pandas.core.series.Series

## Working with Attributes in Pandas

In [26]:
#Python object contain:
# Data
# Metadata (information about the data)
# Related functionalities

In [27]:
# Attribute - A variable providing metadata about an object
# Method - a function that can be associated with an object

In [28]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [29]:
series_a.dtype

dtype('int32')

In [30]:
series_a.size

5

In [31]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [32]:
product_categories.dtype

dtype('O')

In [33]:
# 'o' stands for object as product_categoies having string elements

In [34]:
product_categories.size

4

In [35]:
type(product_categories.size)

int

In [36]:
product_categories.name

In [37]:
print(product_categories.name)

None

In [38]:
# mark the difference , That line 40 is refer to the object and 41 is display it's content

In [39]:
product_categories.name = "Product Categories"

In [40]:
product_categories.name

'Product Categories'

In [41]:
print(product_categories.name)

Product Categories

In [42]:
type(product_categories.name)

str

In [43]:
# The attributes related ot a certain python object allow to extract info. NOT to modify the content

## Using Index in python

In [44]:
#An INDEX allows you to refer to a position within a sequence.
#Set of values in a sequenced order.
# You will be easilly access the prices of releavent category from their indices.

In [45]:
prices_per_category = {'Product A': 22250, 'Product B' : 16600, 'Product C' : 15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [46]:
type(prices_per_category)

dict

In [47]:
prices_per_category = pd.Series(prices_per_category)

In [48]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [49]:
type(prices_per_category)

pandas.core.series.Series

In [50]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [51]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## Types of Indexing

In [52]:
#Label based indexing VS Positiion based indexing

In [53]:
# Panda series index represents a very solid data structure.

In [54]:
# Solid data structure : explicit and implicit

In [55]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [56]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [57]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [58]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [59]:
#The above example is position based indexing (Implicit)

In [60]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [61]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [62]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

In [63]:
#The above one is label based indexing (explicit)

In [64]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [65]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [66]:
series_a[0]

10

In [67]:
prices_per_category['Product A']

22250

In [68]:
prices_per_category[0]

22250

In [69]:
series_b = pd.Series([10,20,30,40,50,60], index = [1,2,3,4,5,6])

In [70]:
series_b

1    10
2    20
3    30
4    40
5    50
6    60
dtype: int64

In [71]:
series_b[1]

10

In [72]:
series_c = pd.Series([10,20,30,40,50], index = ["1","2","3","4","5"])

In [73]:
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [74]:
series_c[1]

20

In [75]:
series_c["1"]

10

In [76]:
series_c[0]

10

In [77]:
#The Above indexing is quite confusing , So avoid this kind of indexing.

In [78]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

## USING METHODS IN PYTHON

In [79]:
#Attributes contains metadata
#Methods contain functionalities and behaviour of the object

In [80]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [81]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [82]:
start_date_deposits.sum()

29500

In [83]:
start_date_deposits.min()

1000

In [84]:
start_date_deposits.max()

4000

In [85]:
#NOTE: This is not information ABOUT dataset but it's info. FROM our dataset.

In [86]:
start_date_deposits.idxmax()

'9/3/2015'

In [87]:
start_date_deposits.idxmin()

'12/8/2012'

In [88]:
#NOTE : If we need to deal with Numeric data then Numpy is the best approach.
#       but if we need to deal with both Numeric and Non-Numeric data we can use pandas lib.

In [89]:
#First 5 rows
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [90]:
#last 5 rows
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## Parameters VS Arguments

In [91]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [92]:
# An example of arguement --> arguement(our choice of n)
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [93]:
#An example of parameter --> parameter(n)
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [94]:
#Note : A parameter of a python method or function always has a name.

In [95]:
start_date_deposits.head(n=10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

## Introduction to Pandas Dataframes

In [96]:
#Dataframe is a multi-column data where each column represents different variable
#every column contains data of its own type
#The information canbe potentially heterogeneous.
# Collection of multiple series sets, Series = 1-D Whereas dataframe = 2-D

In [97]:
# Series is a powerful version of python list  + python dictionary features
# Indexing relates to the keys of a dictionary

In [98]:
# Dataframe is an enhanced python dictionary
# We can provide a whole object that contains values of entire column
# Inherits the characteristics of the dictionary class

## Creating DataFrames from Scratch

In [99]:
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250,16600,12500]}

In [100]:
df = pd.DataFrame(data)

In [101]:
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [102]:
#Construct a DataFrame from a Dictionary of lists + Specify an index
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250,16600,12500]}
df = pd.DataFrame(data, index= ['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [103]:
data = {'ProductName':['Product A','Product B','Product C'], 'ProductPrice':[22250,16600,12500]}
product_IDs = ['A','B','C']
df = pd.DataFrame(data, index=(product_IDs))
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [104]:
# Construct a DataFrame from a list of Dictionaries

In [105]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [106]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500,10000]}]
df = pd.DataFrame(data)
df

  ProductName    ProductPrice
0   Product A           22250
1   Product B           16600
2   Product C  [12500, 10000]

In [107]:
#WAYS TO CREATE A DATAFRAME :
# from a dictionary of lists
# From a dictionary of lists + specifying an index
# From a list of dictionaries
# from a dictionary of pandas series
# From a list of lists
# In professional way

In [108]:
#Creating a Dataframe from a dictionary of pandas series
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [109]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [110]:
#NOTE : The above example contains the keys as column name and The series are act as the data

In [111]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [112]:
# Changing the index in Product price 
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

In [113]:
# Creating a DataFrame from a list of lists - The number of elements in each inner list must be fixed

In [114]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [115]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [116]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [117]:
df.columns = ['ProductName','ProductPrice']
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [118]:
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [119]:
# Create a DataFrame in professional way
df = pd.DataFrame(data = [['Product A',22250],['Product B',16600],['Product C',12500]],
                  columns = ['ProductName','ProductPrice'],
                  index = ['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [120]:
# To Create a DataFrame you need a 1. DATA 2. COLUMN 3. INDEX

In [121]:
df.shape

(3, 2)