# PYTHON BASICS - 2

In [1]:
#Defining a Function in Python

In [2]:
# Def is a keyword to define a function
def simple():
    print("This is my first function")

In [3]:
simple()

This is my first function

In [4]:
# Create a function using parameter

In [5]:
def plus_ten(a):
    return a + 10

In [6]:
plus_ten(5)

15

In [7]:
# def Fucntion_name (parameters):
# but call
# plus_ten (arguements) <-- to call a function

In [8]:
# Functions - Another way to define a function

In [9]:
def plus_ten(a):
    result = a + 10
    return result

In [10]:
plus_ten(2)

12

In [11]:
def plus_ten(a):
    result = a + 10
    return "Outcome"
    return result

In [12]:
plus_ten(2)

'Outcome'

In [13]:
def plus_ten(a):
    result = a + 10
    print( "Outcome")
    return result

In [14]:
plus_ten(2)

Outcome

12

In [15]:
# Using a funtion in  another function

In [16]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours)+ 50

In [17]:
wage(8), with_bonus(8)

(200, 250)

In [18]:
with_bonus(20)

550

In [19]:
# Combine conditional statements and functions

In [20]:
def add_10(m):
    if m >=100:
        m = m + 10
        return m
    else:
        print ("Save More")

In [21]:
add_10(50)

Save More

In [22]:
add_10(102)

112

In [23]:
# Functions - Creating functions containing few arguements

In [24]:
def sub_bc(a,b,c):
    result = a -b *c
    print ('Parameter a is equals', a)
    print ('Parameter b is equals', b)
    print ('Parameter c is equals', c)
    return result

In [25]:
sub_bc (1,2,3)

Parameter a is equals 1
Parameter b is equals 2
Parameter c is equals 3

-5

In [26]:
sub_bc(10,3,2)

Parameter a is equals 10
Parameter b is equals 3
Parameter c is equals 2

4

In [27]:
# Notable Built in Functions in python

# Built in function can be applied directly
# ex : type()obtains the type of variable you use as a arguement

In [28]:
type(10)

int

In [29]:
int(5.0)

5

In [30]:
str(500)

'500'

In [31]:
float(3)

3.0

In [32]:
max(10,20,30)

30

In [33]:
min(2,5,10)

2

In [34]:
z = -20

In [35]:
abs(z)

20

In [36]:
list_1 = [1,2,3,4,5]

In [37]:
sum (list_1)

15

In [38]:
round(3.555,2)

3.56

In [39]:
round(3.5567)

4

In [40]:
pow(2,4)

16

In [41]:
len('Mathematics')

11

In [42]:
# Sequences - Lists
# List is a type of sequence of data points

In [43]:
Participants = ['John','leila','Georgory','cate']

In [44]:
Participants

['John', 'leila', 'Georgory', 'cate']

In [45]:
print (Participants[1])

leila

In [46]:
Participants[-1]

'cate'

In [47]:
Participants[-2]

'Georgory'

In [48]:
Participants[3] = "Maria"

In [49]:
Participants

['John', 'leila', 'Georgory', 'Maria']

In [50]:
# Del keyword is use to delete an item from the list

In [51]:
del Participants[2]

In [52]:
Participants

['John', 'leila', 'Maria']

In [53]:
# Sequences - Using Methods

In [54]:
# The .append() method <-- use to add in list

Participants.append("Dwayne")
Participants

['John', 'leila', 'Maria', 'Dwayne']

In [55]:
# The .extend() method 

Participants.extend(['George','Catherine'])
Participants

['John', 'leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [56]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [57]:
len(Participants)

6

In [58]:
#List Slicing
# Object_name[start : end +1]
# Default index value is 0

In [59]:
Participants

['John', 'leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [60]:
Participants[1:3]

['leila', 'Maria']

In [61]:
Participants[:2]

['John', 'leila']

In [62]:
Participants[4:]

['George', 'Catherine']

In [63]:
Participants.index("Maria") # To know about the index

2

In [64]:
New = ['Johsua','Andy']

In [65]:
Bigger_list = [Participants,New]

In [66]:
Bigger_list

[['John', 'leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Johsua', 'Andy']]

In [67]:
print(Bigger_list)

[['John', 'leila', 'Maria', 'Dwayne', 'George', 'Catherine'], ['Johsua', 'Andy']]

In [68]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Maria', 'leila']

In [69]:
Participants.sort(reverse = True)

In [70]:
Participants

['leila', 'Maria', 'John', 'George', 'Dwayne', 'Catherine']

In [71]:
# Tuples
# Tuples are a type of data sequences but they are IMMUTABLE(cannot be changes or modified)
# Tuples elements are placed between the parentheses NOT the bracket like lists

In [72]:
x = (40,41,42)
x

(40, 41, 42)

In [73]:
y = (50,51,52)
y

(50, 51, 52)

In [74]:
x[0]

40

In [75]:
list_1 = [x,y]

In [76]:
list_1

[(40, 41, 42), (50, 51, 52)]

In [77]:
# Functions can provide tuples as return values
def squre_info(x):
    A = x**2
    P = 4*x
    print ("Area and Parameter:")
    return A,P

squre_info(3)

Area and Parameter:

(9, 12)

In [78]:
# Dictionaires
# Dictionaries represent another way of storing data
# Use technique key value pair
# Use curly braces {}

In [79]:
dict = {'K1' : "cat", 'K2':"dog", 'K3' : "mouse", 'K4' : "fish"}
dict

{'K1': 'cat', 'K2': 'dog', 'K3': 'mouse', 'K4': 'fish'}

In [80]:
dict['K1']

'cat'

In [81]:
dict['K3']

'mouse'

In [82]:
dict['K5'] = 'parrot'
dict

{'K1': 'cat', 'K2': 'dog', 'K3': 'mouse', 'K4': 'fish', 'K5': 'parrot'}

In [83]:
dict['K2'] = 'squrrel'

In [84]:
dict

{'K1': 'cat', 'K2': 'squrrel', 'K3': 'mouse', 'K4': 'fish', 'K5': 'parrot'}

In [85]:
Team = {}
Team ['Point guard'] = 'Dirk'
Team ['Small Forward'] = 'Sean'
Team ['Center'] = 'Hector'
Team ['Power forward'] = 'Alexender'

In [86]:
Team

{'Point guard': 'Dirk',
 'Small Forward': 'Sean',
 'Center': 'Hector',
 'Power forward': 'Alexender'}

In [87]:
print(Team['Center'])

Hector

In [88]:
# NOTE : None is the default value when element is not present in the dictonary , ONLY WHEN USING GET KEYWORD

print(Team.get('Coach'))

None

In [1]:
# Iterations - Loops
# For Loops
# Iteration is the ability to execute a certain code repeatedly

In [2]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [4]:
for n in even:
    print(n, end = ' ')

0 2 4 6 8 10 12 14 16 18 20

In [5]:
# While loop

In [13]:
x = 0
while x<=20:

    print (x, end = ' ')
    x = x+2

0 2 4 6 8 10 12 14 16 18 20

In [16]:
#Iteration - Create list with the range() function
# Syntax - range(start,stop,step) create a sequence of integers
# Start = first value
# Stop = last value +1
# Step = the distance between two consecutive values

In [17]:
range(10)

range(0, 10)

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
range(3,7)

range(3, 7)

In [21]:
list(range(3,7))

[3, 4, 5, 6]

In [22]:
range(1,20,2)

range(1, 20, 2)

In [23]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
#Use conditional statements and loop together

In [25]:
for n in range(10):
    print(2**n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [26]:
# Iteration - Conditional statement, Functions and loops

In [27]:
def count(num):
    total = 0
    for x in num:
        if x <20:
            total +=1
    return total

In [28]:
list_1 = [1,3,5,7,21,35,65,77]

In [29]:
count(list_1)

4

In [30]:
# Iteration over Dictionaries

In [32]:
prices = {
"spegitti" :4,
"lasagna" : 5,
"hamburger" : 2}

Quantity = {
"spegitti" :6,
"lasagna" : 10,
"hamburger" : 0}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*Quantity[i])

In [33]:
print(money_spent)

74