## Working with Text Data and Arguement Specifiers

In [1]:
# Text Data vs Text file
# Text files : Files containing information from the text data type only.
#Example : JSON,CSV,HTML
# Text Data : Info. and Data which represent text as supposed to numbers or boolean, for instance.
# Example : Text data - "No feedback has been provided yet"
#           Numeric data - 15,20.50 
#           Boolean Data - True,False

In [2]:
# Arguement Specifier - is a combination if symbols that indicates where you want to insert information
# Specifies the data type of that arguement
# Modulus operator(%) = allows us to point to the variable form which we did like to obtain information
#                       and insert it into the original string
# %s - the combination of symbols that we use to indicate where we would like to insert not just a string,
#      also any value or object that can have a string representation.
# %d - for integers
# %f - for floats

In [3]:
product_category = 'A'
print('This item is from product category "%s".'% product_category)

This item is from product category "A".

In [4]:
product_category = ['A','B']
print('This item is from product category "%s".'% product_category[1])

This item is from product category "B".

In [5]:
quantitites = [500,600]
print('This item is from product category "%s".'% quantitites[1])

This item is from product category "600".

In [6]:
print("We currently have %d available units of this item." % quantitites[0])

We currently have 500 available units of this item.

In [7]:
# NOTE on float values :
# $%f --> $60.350000
# $%.f --> $60
# $%.1f --> $60.4
# $%.2f --> $60.35

## Manipulating Python Strings

In [8]:
print('This product is from Category "A".')

This product is from Category "A".

In [9]:
print('This product is from \nCategory "A".')

This product is from
Category "A".

In [10]:
print('This product is from Category "A".\t' + 'This product is from Category "B".')

This product is from Category "A".	This product is from Category "B".

In [11]:
# \n = New line
# \t = Tab spaces
# \r = Carriage Return - Replace the same numbers of charaters at the start

In [12]:
print('This product is from Category "A". \rProduct 01')

Product 01

In [13]:
print('This product is from Category "A". \rProduct 0001')

Product 0001

## Using Various Python String Methods

In [14]:
s = 'Price per unit'

In [15]:
s

'Price per unit'

In [16]:
s1 = s.replace('Price','Cost')
s1

'Cost per unit'

In [17]:
s1.startswith('Cost')

True

In [18]:
s1.startswith('cost')

False

In [19]:
s.startswith('Pri')

True

In [20]:
s1.endswith('nit')

True

In [21]:
#SPLIT METHOD - .split() :splits the original string by a specified arguement and returns a list 
#                         containing the sepeate values

In [22]:
s1

'Cost per unit'

In [23]:
s1.split()

['Cost', 'per', 'unit']

In [24]:
len(s1.split())

3

In [25]:
s1.split('per')

['Cost ', ' unit']

In [26]:
#maxsplit() : Specifies the maximum number of splits you can obtain with this execution

In [27]:
s1.split(' ',maxsplit=0)

['Cost per unit']

In [28]:
s2 = 'Mr., John,Wilson'

In [29]:
s2.split(',')

['Mr.', ' John', 'Wilson']

In [30]:
s2.split(',')[0]

'Mr.'

In [31]:
s2.split(',')[2]

'Wilson'

In [32]:
s3 = 'Mrs. Amy Moore'

In [33]:
s3.upper()

'MRS. AMY MOORE'

In [34]:
s3.lower()

'mrs. amy moore'

In [35]:
s3.capitalize()

'Mrs. amy moore'

In [36]:
s3.title()

'Mrs. Amy Moore'

In [37]:
s3 == s3.title()

True

In [38]:
'Cost per unit'.title()

'Cost Per Unit'

In [39]:
s4 = '    quarterly earnings report     '

In [40]:
s4.strip()

'quarterly earnings report'

In [41]:
s4.strip(' ')

'quarterly earnings report'

In [42]:
s4.strip(' r')

'quarterly earnings report'

In [43]:
s4.strip(' qt')

'uarterly earnings repor'

In [44]:
s4.strip('qt')

'    quarterly earnings report     '

In [45]:
s4.lstrip()

'quarterly earnings report     '

In [46]:
s4.rstrip()

'    quarterly earnings report'

In [47]:
s4.strip(' quarterly')

'nings repo'

In [48]:
s5 = ' %&!quarterly earning report  *'

In [49]:
s5.strip(' !@#$%^&*()')

'quarterly earning report'

## String Accessors

In [50]:
import pandas as pd

In [51]:
operational_kpis = pd.Series(["employee satisfaction rating", "employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [52]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [53]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [54]:
# Series.str : can be used to access the values of the series as strings and apply serveral methods to it

In [55]:
print(operational_kpis.str)

<pandas.core.strings.accessor.StringMethods object at 0x000001F4F904E3D0>

In [56]:
operational_kpis.str[1]
# The character of position 1

0    m
1    m
dtype: object

In [57]:
operational_kpis[1]
# The value of position 1

'employee churn rate'

In [58]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

In [59]:
test_series = pd.Series(['Text_data','34'])
test_series

0    Text_data
1           34
dtype: object

In [60]:
test_series.str.lstrip('Text_')

0    data
1      34
dtype: object

In [61]:
house_prices = pd.Series(['$400,000','$500,000','$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [62]:
house_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

## Using the .format() Method

In [63]:
# format(): A very useful tool for preprocessing text data
# format() is applicable to string values only

In [64]:
time_horizon = 1,3,12
time_horizon

(1, 3, 12)

In [65]:
products = ['Product A','Product B']
products

['Product A', 'Product B']

In [66]:
'Expected sales for a period of {} month(s) for {}:' .format(12,'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [67]:
'Expected sales for a period of {} month(s) for {}:' .format(time_horizon,products)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

In [68]:
#INDEXING
'Expected sales for a period of {} month(s) for {}:' .format(time_horizon[2],products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [69]:
# Arguements
# 1. Positional
# 2. Keyword

In [70]:
#Positional
'Expected sales for a period of {0} month(s) for {1}:' .format(time_horizon[2],products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [71]:
# Keyword = named Arguements:
'Expected sales for a period of {t_hor} month(s) for {prod}:' .format(t_hor = 12,prod = 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [72]:
'Expected sales for a period of {t_hor[1]} month(s) for {prod[0]}: ${sales}' .format(t_hor = time_horizon,prod = products, sales = 10000)

'Expected sales for a period of 3 month(s) for Product A: $10000'