<hr style="border:5px solid #108999"> </hr>

# Must Know Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [1]:
range(10)

range(0, 10)

In [2]:
range(0,10)

range(0, 10)

Turn this 'range' object into a list of values.

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [4]:
for i in range(10):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9

Repeat the same task, this time printing the values from the output on the same line.

In [5]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [6]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [7]:
[[prod,sale] for prod in products_on_sale for sale in sale_prices]

[['Chair_Type_1', 100],
 ['Chair_Type_1', 120],
 ['Chair_Type_1', 135],
 ['Chair_Type_1', 150],
 ['Chair_Type_2', 100],
 ['Chair_Type_2', 120],
 ['Chair_Type_2', 135],
 ['Chair_Type_2', 150],
 ['Chair_Type_3', 100],
 ['Chair_Type_3', 120],
 ['Chair_Type_3', 135],
 ['Chair_Type_3', 150],
 ['Chair_Type_4', 100],
 ['Chair_Type_4', 120],
 ['Chair_Type_4', 135],
 ['Chair_Type_4', 150]]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [8]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [9]:
chair_type = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
potential_revenue = [100, 120, 135, 150]
quantity = [2,6,4,9]

In [10]:
for ch_type in chair_type:
    for pr in potential_revenue:
        for qty in quantity:
            print([ch_type,qty*pr])

['Chair_Type_1', 200]
['Chair_Type_1', 600]
['Chair_Type_1', 400]
['Chair_Type_1', 900]
['Chair_Type_1', 240]
['Chair_Type_1', 720]
['Chair_Type_1', 480]
['Chair_Type_1', 1080]
['Chair_Type_1', 270]
['Chair_Type_1', 810]
['Chair_Type_1', 540]
['Chair_Type_1', 1215]
['Chair_Type_1', 300]
['Chair_Type_1', 900]
['Chair_Type_1', 600]
['Chair_Type_1', 1350]
['Chair_Type_2', 200]
['Chair_Type_2', 600]
['Chair_Type_2', 400]
['Chair_Type_2', 900]
['Chair_Type_2', 240]
['Chair_Type_2', 720]
['Chair_Type_2', 480]
['Chair_Type_2', 1080]
['Chair_Type_2', 270]
['Chair_Type_2', 810]
['Chair_Type_2', 540]
['Chair_Type_2', 1215]
['Chair_Type_2', 300]
['Chair_Type_2', 900]
['Chair_Type_2', 600]
['Chair_Type_2', 1350]
['Chair_Type_3', 200]
['Chair_Type_3', 600]
['Chair_Type_3', 400]
['Chair_Type_3', 900]
['Chair_Type_3', 240]
['Chair_Type_3', 720]
['Chair_Type_3', 480]
['Chair_Type_3', 1080]
['Chair_Type_3', 270]
['Chair_Type_3', 810]
['Chair_Type_3', 540]
['Chair_Type_3', 1215]
['Chair_Type_3', 300]
['Chair_Type_3', 900]
['Chair_Type_3', 600]
['Chair_Type_3', 1350]
['Chair_Type_4', 200]
['Chair_Type_4', 600]
['Chair_Type_4', 400]
['Chair_Type_4', 900]
['Chair_Type_4', 240]
['Chair_Type_4', 720]
['Chair_Type_4', 480]
['Chair_Type_4', 1080]
['Chair_Type_4', 270]
['Chair_Type_4', 810]
['Chair_Type_4', 540]
['Chair_Type_4', 1215]
['Chair_Type_4', 300]
['Chair_Type_4', 900]
['Chair_Type_4', 600]
['Chair_Type_4', 1350]

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [11]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [12]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [13]:
[[chair_type, price*quantity] for chair_type in products_on_sale  for price in sale_prices  for quantity in quantities]

[['Chair_Type_1', 100000],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 130000],
 ['Chair_Type_1', 120000],
 ['Chair_Type_1', 180000],
 ['Chair_Type_1', 156000],
 ['Chair_Type_1', 135000],
 ['Chair_Type_1', 202500],
 ['Chair_Type_1', 175500],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 225000],
 ['Chair_Type_1', 195000],
 ['Chair_Type_2', 100000],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 130000],
 ['Chair_Type_2', 120000],
 ['Chair_Type_2', 180000],
 ['Chair_Type_2', 156000],
 ['Chair_Type_2', 135000],
 ['Chair_Type_2', 202500],
 ['Chair_Type_2', 175500],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 225000],
 ['Chair_Type_2', 195000],
 ['Chair_Type_3', 100000],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 130000],
 ['Chair_Type_3', 120000],
 ['Chair_Type_3', 180000],
 ['Chair_Type_3', 156000],
 ['Chair_Type_3', 135000],
 ['Chair_Type_3', 202500],
 ['Chair_Type_3', 175500],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 225000],
 ['Chair_Type_3', 195000],
 ['Chair_Type_4', 100000],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 130000],
 ['Chair_Type_4', 120000],
 ['Chair_Type_4', 180000],
 ['Chair_Type_4', 156000],
 ['Chair_Type_4', 135000],
 ['Chair_Type_4', 202500],
 ['Chair_Type_4', 175500],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 225000],
 ['Chair_Type_4', 195000]]

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [14]:
[i * 10 for i in range(1,11) if i%2 == 0]

[20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [15]:
for i in range(1,11):
    if i%2 == 0:
        print(i*10,end = " ")
    else:
        print("None")

None
20 None
40 None
60 None
80 None
100

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [16]:
def multiply_by_10(x):
    return x * 10
multiply_by_10(2)

20

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [17]:
multiply_by_10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [26]:
multiply_by_10_lambda = lambda x : x * 10
multiply_by_10_lambda(7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [27]:
product_xy = lambda x,y : x*y
product_xy(4,20)

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 13.

In [28]:
(lambda x: (135 - x ** 3) ** 4 / (1 + x) ** 5)(3)

132860.25